/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.logseq-rss-reader-plugin-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
